amqp==1.4.9
anyjson==0.3.3
Babel==2.3.4
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.23
celery==3.1.23
certifi==2016.2.28
Django==1.9.7
flower==0.9.1
funcsigs==1.0.2
futures==3.0.5
gevent==1.1.1
greenlet==0.4.10
image==1.5.3
jwt==0.3.2
kombu==3.0.35
mock==2.0.0
msgpack-python==0.4.7
passlib==1.6.5
pbr==1.10.0
pika==0.10.0
Pillow==3.2.0
pudb==2016.2
pycrypto==2.6.1
Pygments==2.1.3
PyJWT==1.4.0
pytz==2016.4
pyzmq==15.2.0
redis==2.10.5
requests==2.10.0
singledispatch==3.4.0.3
six==1.10.0
tornado==4.2
tzlocal==1.2.2
urwid==1.3.1
Werkzeug==2.2.3
zerorpc==0.5.2
sqlalchemy==1.1.13
schedule==0.3.2
tornado-redis==2.4.18
uptime==3.0.1
urllib3==1.14
websocket-client==0.44.0
wheel==0.24.0
zerorpc==0.5.2
oss2==2.3.3